<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #f0f0f2;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      #container {
        background-color: #fff;
        border-radius: 10px;
        margin: 5em auto;
        padding: 10px;
        width: 500px;
      }

      #result span {
        display: block;
        margin: 5px;
        margin-left: 0;
      }
    </style>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
  </head>
  <body ng-app="shortUrlDemo">
    <div id="container" ng-controller="UrlController">
      <h2>Paste an url below.</h2>
      <form ng-submit="onSubmit()" class="url-form">
        <input type="url" name="url" ng-model="url" required>
        <input type="submit" value="Submit">
      </form>
      <div id="result" ng-show="shouldShowResult">
        <span>{{shortUrl}}</span>
      </div>
    </div>
    <script type="text/javascript">
      var app = angular.module('shortUrlDemo', []);
      app.controller('UrlController', function($http, $scope) {
        $scope.url = '';
        $scope.shortUrl = '';
        $scope.shouldShowResult = false;

        function onSuccess(result) {
          $scope.shortUrl = 'http://example.com/' + result['key'];
          $scope.shouldShowResult = true;
        };

        function onError(result) {
          console.log('Something bad happened');
        };

        $scope.onSubmit = function() {
          $scope.shouldShowResult = false;
          $http.post('/api/shorten', {'url': $scope.url}).
              success(onSuccess).
              error(onError);
        };
      });
    </script>
  </body>
</html>
